@tailwind base;
@tailwind components;
@tailwind utilities;

.juicy-peach-gradient {
    background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#fcb69f));
    background-image: linear-gradient(to right, #faf8f6 60%, #fcb69f 40%)
}

.young-passion-gradient {
    background-image: -webkit-gradient(linear, left top, right top, from(#ff8177), color-stop(0%, #ff867a), color-stop(21%, #ff8c7f), color-stop(52%, #f99185), color-stop(78%, #cf556c), to(#b12a5b));
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%)
}

.lady-lips-gradient {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ff9a9e), color-stop(99%, #fecfef), to(#fecfef));
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%)
}

.sunny-morning-gradient {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%)
}

.peach-gradient {
    background: linear-gradient(40deg, #ffd86f, #fc6262) !important
}

.blue__gradient {
    background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
    filter: blur(123px);
  }
